    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class="card col-md-7 p-4 mb-0">
                <div class="card-body">
                  <h2>Update Profile</h2>
                  <p class="text-medium-emphasis">
                    {{#if message}}
                        {{message}}
                    {{/if}}
                  </p>
                  <br>
                  <form method="post">
                        <input name="userId" value="{{details.UserId}}" type="hidden">
                        <input type="hidden" name="csrf" value={{csrfToken}}>
                        <input name="email" type="hidden" value="{{details.Email}}">
                        Name
                        <div class="input-group mb-3">
                            <input class="form-control" name="name" placeholder="{{details.Username}}" value="{{details.Username}}">
                        </div>
                        Enter Current Password for Verification
                        <div class="input-group mb-3">
                            <input class="form-control" type="password" name="password" placeholder="Enter Current Password"">
                        </div>
                        Enter New Password
                        <div class="input-group mb-3">
                            <input class="form-control" name="npassword" placeholder="Enter New Password"">
                        </div>
                        Confirm New Password
                        <div class="input-group mb-3">
                            <input class="form-control" type="password" name="cnpassword" placeholder="Confirm New Password">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" class="btn btn-primary px-4">
                            </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
